*.egg-info
*.mo
*.pyc
*~
.*project
.coverage
.installed.cfg
.mr.developer.cfg
.settings
bin/
coverage/
develop-eggs/
downloads/
eggs/
htmlcov/
include/
lib/
local.cfg
development.cfg
Makefile
parts/
src/collective.cover/
src/collective.transmogrifier/
var/
dist/
log.html
output.xml
report.html
src/prodam.portal
src/prodam.tema
src/prodam.secoes
default.cfg
cache.cfg
